@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family:"PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  background-color: #ffffff;
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  background: #ffffff;
  color:#000000;
  position: relative;
}

.logo {
  height: auto;
}

.logo-link {
  position: absolute;
  left: 71px;
  top: 0;
}

.navigation {
  display: flex;
  padding: 10px 69px 0px 254px;
  justify-content: space-between;
}

.navigation-list {
  list-style-type: none;
  padding: 0 0 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 32px;
}

.navigation-item {
  padding-top: 3px;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}

.navigation-link-active::after{
  content: "";
  width: 100%;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: -21px;
  left: 0;
}

.user-block{
  display: flex;
  gap: 25px;
  padding-bottom: 15px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 5px;
  max-width: 210px;
  flex-wrap: wrap;
}

.user-navigation-link {
  text-decoration: none;
  width: 38px;
  height: 36px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-value {
  display: flex;
  position: absolute;
  min-width: 20px;
  height: 20px;
  top: -2px;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.button-link {
  display: block;
  min-height: 20px;
  width: 160px;
  padding: 8px 0;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.welcome {
  background-color: #928a8a;
  color: #000000;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: 100% auto, cover ;
  text-align: center;
  min-height: 486px;
  padding-top: 52px;
  padding-bottom: 61px;
  box-sizing: border-box;
}


.advantages-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 69px 160px 25px 160px;
 }

 .advantages-description {
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 90px 0;
 }

 .advantage-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 62px 0 0 0;
}

 .advantage-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.advantage-title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  right: 85px;
  top: 86px;
  background-color: #0000004d;
}

 .advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.advantages-item {
  display: flex;
  flex-grow: 1
}

.advantages-item:nth-child(2n) {
  background-color: #83b3d31f;
}

.advantages-item:nth-child(2n+1) {
  background-color: #83b3d333;
}

.advantages-item.advantages-item-color {
  background-color: #82b3d3
}

.container {
  width: 400px;
  padding: 88px 85px 111px;
  box-sizing: border-box;
}

.advantages-item-color .container {
  padding: 77px 85px;
}

.services {
  margin: 0px 0px 97px 0;
}

.services-text {
  margin: 65px 347px 20px 346px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
 }

 .service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

 .services-description {
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 63px 0;
 }

 .service-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 29px 0 0 0;
}
 
 .sevices-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  flex-grow: 1;
  padding: 185px 0 81px 0;
  width: 400px;
  position: relative;
  background-color: #ffffff;
}

.services-item:nth-child(2n+1) {
  background-color: #83b3d31f;
}

.services-item::before {
  position: absolute;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}

.services-additional-item-home::before {
  content: url("../images/house.svg");
  top: 80px;
}

.services-additional-item-food::before {
  content: url("../images/food.svg");
  top: 81px;
}

.services-additional-item-surprice::before {
  content: url("../images/surprice.svg");
  top: 78px;
}

.booking {
  text-align: center;
  padding-bottom: 94px;
}

.booking-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 20px 0px;
}

.booking-description {
  margin: 0 0 52px 0;
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333
 }

.booking-link {
  display: block;
  padding: 8px 0px 9px 0px;
  width: 376px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff
}

.subscribe {
  background-color: #faebd7;
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 104px;
}

 .subscribe-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 97px;
}

.alternative-color {
  color: #ffffff
}

.alternative-color::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  right: 85px;
  top: 86px;
  background-color: #ffffff4d;
}

.subscribe-description {
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color:#ffffff;
  margin: 0;
  padding: 20px 346px 0 348px;
}

.subscribe-form {
  width: 684px;
  padding-left: 260px;
  padding-top: 54px;
}

.collapsing-indentation {
  display: flex;
}

.subscribe input {
  text-indent: 18px;
  padding: 0;
  width: 452px;
  height: 52px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  width: 233px;
  height: 52px;
  padding: 0 4px 0 0;
  text-transform: uppercase;
}

.page-footer {
  width: 1200px;
  padding: 50px 0 27px;
}

.page-footer-container {
  display: flex;
  align-items: flex-start;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin:0 0 0 10px;
  padding: 0;
}

.footer-contacts {
  width: 331px;
}

.phone {
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin-left: 2px;
}

.footer-logo {
  width: 114.9px;
}
